body { 
	font: 11px/18px verdana,arial,helvetica,sans-serif; 
	color: #512720; 
	background: #512720 url(/static/img/redticket/bodyBg.gif); 
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center top; 
	margin: 0;
	padding: 0;
	text-align: center;	 
}		
.page-wrapper {
	width: 765px;
	background: url(/static/img/redticket/mainBg.gif); 
    background-repeat: repeat;
	margin: 0 0;
	padding: 0 ;
	text-align: left;
}
.banner {
	width: 765px;
	height: 343px;
	background: url(/static/img/redticket/headerBg.jpg); 
    background-repeat: no-repeat;
}
.preamble, .supporting {
	text-align: left;
	width: 455px;
	margin: 0 0 0 43px;
}