.body {
    background-color: whitesmoke;
}

#header {
    background-color: lightskyblue;
    padding-top: 0%;
    text-align: center;
    
}

.container {
    padding: 30px;
    text-align: center;
    margin: auto;
    
}

.trainee-container {
    margin-bottom: 2.5em;
}



/*** Instructor Page Style Section ***/
.controls-form {
    margin-top: 4em;
    margin-left : 4em;
}
